:root {
  --main-bg-dark: #252831;
  --main-bg-light: #f3f3f3;

  --black-default: #333;
  --black-30: rgba(0, 0, 0, 0.3);

  --white: #fff;
  --orange: #f18200;
  --blue: #3397DB;

  --gray-a: #aaa;
  --gray-e: #eee;
  --gray-ea: #eaeaea;
  --gray-b8: #B8B8B8;
  --gray-6: #666;
}

/* style reset and global properties */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  color: var(--black-default);
  background-color: #f3f3f3;
  background-color: var(--main-bg-light);
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  font-family: inherit;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/* position */

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

/* z-index */

.z-10 {
  z-index: 10;
}

/* margin */

.gutter {
  margin: 0 1rem;
}

.m-center {
  margin: 0 auto;
}

.mb-normal {
  margin-bottom: 1rem;
}

.mb-medium {
  margin-bottom: 1.4rem;
}

.ml-auto {
  margin-left: auto;
}

.ml-normal {
  margin-left: 1rem;
}

.m-medium--v {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.mt-large {
  margin-top: 2rem;
}

.mb-extralarge {
  margin-bottom: 3rem;
}

.mt-80 {
  margin-top: 80px;
}

/* padding */

.pa-normal {
  padding: 1rem;
}

.pa-medium {
  padding: 1.4rem;
}

.p-small--h {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.p-large--h {
  padding-right: 2rem;
  padding-left: 2rem;
}

.p-small--v {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.p-medium--v {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.pt-80 {
  padding-top: 80px;
}

/* width */

.w--45 {
  width: 45%;
}

.w--100 {
  width: 100%;
}

/* height */

.h-80 {
  height: 80px;
}

/* border */

.b-1 {
  border-style: solid;
  border-width: 1px;
}

.b-1--bottom {
  border-bottom-style:solid;
  border-width: 1px;
}

/* border color */

.b-gray-e {
  border-color: #eee;
  border-color: var(--gray-e);
}

.b-gray-ea {
  border-color: #eaeaea;
  border-color: var(--gray-ea);
}

/* border radius */

.b-r3 {
  border-radius: 3px;
}

.b-r5 {
  border-radius: 5px;
}

.b-r20-r3--top {
  border-top-left-radius: 20px;
  border-top-right-radius: 3px;
}

.b-r20-r3--bottom {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 3px;
}

/* display */

.dn {
  display: none;
}

.dib {
  display: inline-block;
}

/* flexbox */

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.content-between {
  align-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

/* grid */

.grid {
  display: grid;
}

.grid-gap-normal {
  grid-gap: 2rem;
}

@media screen and (min-width: 600px) {


  .col-2-m {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 860px) {


  .col-2-l {
    grid-template-columns: repeat(2, 1fr);
  }


  .col-3-l {
    grid-template-columns: repeat(3, 1fr);
  }


  .col-span-1-2-l {
    grid-column: 1 / 3;
  }


  .col-span-3-5-l {
    grid-column: 3 / 6;
  }
}

@media screen and (min-width: 1000px) {


  .col-5-xl {
    grid-template-columns: repeat(5, 1fr);
  }


  .col-span-1-2-xl {
    grid-column: 1 / 3;
  }


  .col-span-3-5-xl {
    grid-column: 3 / 6;
  }
}

/* box shadow */

.shadow-dark {
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 15px var(--black-30);
}

.shadow-light {
  box-shadow: 2px 3px 15px #eaeaea;
  box-shadow: 2px 3px 15px var(--gray-ea);
}

/* font size */

.f-1 {
  font-size: 0.7em;
}

.f-2 {
  font-size: 0.9rem;
}

.f-3 {
  font-size: 1rem;
}

.f-4 {
  font-size: 1.1rem;
}

.f-5 {
  font-size: 1.2rem;
}

/* font weight */

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-7 {
  font-weight: 700;
}

/* letter spacing */

.ls-1 {
  letter-spacing: 1px;
}

.ls-10 {
  letter-spacing: 10px;
}

/* line height */

.lh-1 {
  line-height: 1;
}

.lh-17 {
  line-height: 1.7;
}

/* text related properties */

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.no-underline {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

/* color */

.black {
  color: #333;
  color: var(--black-default);
}

.white {
  color: #fff;
  color: var(--white);
}

.gray-a {
  color: #aaa;
  color: var(--gray-a);
}

.gray-b8 {
  color: #B8B8B8;
  color: var(--gray-b8);
}

.gray-6 {
  color: #666;
  color: var(--gray-6);
}

.orange {
  color: #f18200;
  color: var(--orange);
}

.blue {
  color: #3397DB;
  color: var(--blue);
}

/* background color */

.bg-dark {
  background-color: #252831;
  background-color: var(--main-bg-dark);
}

.bg-gray-a {
  background-color: #aaa;
  background-color: var(--gray-a);
}

.bg-black {
  background-color: #333;
  background-color: var(--black-default);
}

.bg-white {
  background-color: #fff;
  background-color: var(--white);
}

.bg-orange {
  background-color: #f18200;
  background-color: var(--orange);
}

/* buttons */

.btn {
  padding: 0.8rem 2rem;
}

/* accessibility related utility classes */

.show-on-focus {
  position: absolute;
  top: 0;
  padding: 0 1.2rem;
  line-height: 80px;
  clip: rect(1px, 1px, 1px, 1px);
}

.show-on-focus:focus {
  width: auto;
  height: auto;
  clip: auto;
}

.show-on-focus:hover {
  text-decoration: underline;
}

/* breadcrumbs */

.breadcrumb-divider:before {
  padding-right: 1rem;
  color: inherit;
  content: "/\00a0";
}

/* map widget */

#map {
  height: 100vw;
  max-height: 425px;
}

/* filter component */

.filter-label {
  max-width: 276px;
}

.filter {
  height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') 100% no-repeat #fff;
  background: url('data:image/svg+xml;utf8,<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') 100% no-repeat var(--white);
}

.filter::-ms-expand {
  display: none;
}

/* item card components */

.about-card {
  max-width: 520px;
}

.card {
  max-width: 380px;
}

.hours-table tr:last-child td {
  padding: 0;
  border: none;
}

.card-title {
  height: 56px;
}

.card-address {
  height: 48px;
}