:root {
  --main-bg-dark: #252831;
  --main-bg-light: #f3f3f3;

  --black-default: #333;
  --black-30: rgba(0, 0, 0, 0.3);

  --white: #fff;
  --orange: #f18200;
  --teal: #006064;
  --teal-30: rgba(0,96, 100, 0.7);
  --teal--700: #00796B;

  --gray-a: #aaa;
  --gray-e: #eee;
  --gray-ea: #eaeaea;
  --gray-b8: #B8B8B8;
  --gray-6: #666;
  --blue-gray: #455A64;
}