/* skip to content link */


.show-on-focus {
  position: absolute;
  top: 0;
  padding: 0 1.2rem;
  line-height: 80px;
  clip: rect(1px, 1px, 1px, 1px);
}


.show-on-focus:focus {
  width: auto;
  height: auto;
  clip: auto;
}


.show-on-focus:hover {
  text-decoration: underline;
}


/* select element focus state */


select:focus {
  outline: 0;
  box-shadow: 0 0 0 0 var(--white),0 0 2px 2px var(--teal-30);
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}