/* buttons */


.btn {
  user-select: none;
  transition: color .1s, background-color .1s;
}


.btn-more {
  padding: 0.8rem 2rem;
}


.btn-more:hover,
.btn-more:focus,
.btn-form:hover,
.btn-form:focus {
  outline: 0;
}


.btn-more:hover,
.btn-more:focus {
  color: var(--white);
  background-color: var(--teal);
}


.btn-form:focus,
.btn-more:focus {
  box-shadow: 0 0 0 0 #fff,0 0 2px 2px var(--teal-30);
}


.btn-more:active {
  background-color: var(--teal-700);
}


.btn-form {
  padding: .8rem 2rem;
  background-color: var(--teal);
}


.btn-form:hover {
  border-color: var(--teal);
  background-color: var(--white);
  color: var(--teal);
}


.favorite-btn,
.favorite-btn-wrap {
  width: 40px;
  height: 37px;
}


.favorite-btn-wrap {
  margin-left: auto;
}


.favorite-btn {
  width: 40px;
  height: 37px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAyOS42Ij4gIDxwYXRoIGZpbGw9IiNCREJEQkQiIGQ9Ik0yMy42LDBjLTMuNCwwLTYuMywyLjctNy42LDUuNkMxNC43LDIuNywxMS44LDAsOC40LDBDMy44LDAsMCwzLjgsMCw4LjRjMCw5LjQsOS41LDExLjksMTYsMjEuMiBjNi4xLTkuMywxNi0xMi4xLDE2LTIxLjJDMzIsMy44LDI4LjIsMCwyMy42LDB6Ii8+PC9zdmc+);
  opacity: 0.8;
  cursor: pointer;
  transition: opacity .1s;
}


.favorite-btn:hover,
.favorite-btn:focus {
  opacity: 1;
}


.favorite-btn.favorited {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAyOS42Ij4gIDxwYXRoIGZpbGw9IiNFRjUzNTAiIGQ9Ik0yMy42LDBjLTMuNCwwLTYuMywyLjctNy42LDUuNkMxNC43LDIuNywxMS44LDAsOC40LDBDMy44LDAsMCwzLjgsMCw4LjRjMCw5LjQsOS41LDExLjksMTYsMjEuMiBjNi4xLTkuMywxNi0xMi4xLDE2LTIxLjJDMzIsMy44LDI4LjIsMCwyMy42LDB6Ii8+PC9zdmc+);
}


.radio-btn {
  margin: 0.6rem;
}