/* filter component */


.filter-label {
  max-width: 14rem;
}


.filter {
  margin-top: 2px;
  height: 2.3rem;
  line-height: 2.3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') 100% no-repeat var(--white);
}


.filter::-ms-expand {
  display: none;
}