<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#252831">
    <title>Restaurant Info</title>
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icons/32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icons/16x16.png">
    <link rel="preload"
	  as="style"
	  href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
	  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
	  crossorigin="">
    <style>body { visibility: hidden; }</style>
  </head>

  <body class="grid content-between">
    <header>
      <nav>
	<h1 class="fixed z-2k w--100 h-80 flex items-center justify-center center f-5 fw-3 bg-dark">
	  <a href="/" class="gutter white no-underline uppercase ls-10">Restaurant Reviews</a>
	</h1>

	<div class="b-1--bottom b-gray-ea bg-gray-e">
	  <ul id="breadcrumb" role="navigation" aria-label="Breadcrumb" class="pt-80 w--100 container">
	    <li class="dib lh-1">
	      <a href="/" class="ma-normal dib teal no-underline">Home</a>
	    </li>
	  </ul>
	</div>

	<a href="#content-start" id="skip-content" class="z-2k white no-underline show-on-focus">Skip to content</a>
      </nav>
    </header>

    <section>
      <h2 id="map-description" class="dn">Map with displayed addresse for reviewed restaurant</h2>
      <div id="map" class="shadow-light" role="application" aria-describedby="map-description"></div>
    </section>

    <main class="container">
      <div id="content-start" class="absolute"></div>

      <div class="gutter grid col-5-xl grid-gap-normal">
	<section class="col-span-1-2-xl grid-row-1-3">
	  <h2 id="restaurant-name" class="m-medium--v uppercase blue-gray fw-3 f-5"></h2>

	  <div class="m-center about-card w--100">
	    <picture id="restaurant-picture"></picture>

	    <div id="about-restaurant" class="pa-medium b-r20-r3--bottom shadow-dark bg-white bg-white">
	      <p id="restaurant-cuisine" class="mb-medium white center bg-black lh-17"></p>
	      <p id="restaurant-address" class="mb-normal"></p>
	      <table id="restaurant-hours" class="w--100 f-2 gray-6 hours-table"></table>
	    </div>
	  </div>
	</section>

	<section class="col-span-3-5-xl">
	  <h3 class="m-medium--v blue-gray fw-3 f-5">Add your review</h3>

	  <form id="review-form" class="relative shadow-dark pa-large flex flex-column b-r20-r3--top b-r20-r3--bottom bg-white">
	    <label for="name" class="f-4">Your name</label>
	    <div class="pb-large">
	      <input id="name"
		     type="text"
		     class=" w--100 b-r-small b-gray-ce db lh-15 b-1 f-3 form-input"
		     aria-required="true"
		     data-key="name">
	    </div>

	    <div id="rating-title" class="f-4">How would you rate this restaurant?</div>

	    <div class="pb-large flex wrap justify-center radio-group" role="radiogroup" aria-labelledby="rating-title">
	      <label class="b-1 b-r-small b-gray-ce flex flex-column items-center pointer radio-label">
		1 star
		<input type="radio"
		       class="radio-btn"
		       name="rating"
		       value="1"
		       data-key="rating">
	      </label>

	      <label class="b-1 b-r-small b-gray-ce flex flex-column items-center pointer radio-label">
		2 stars
		<input type="radio"
		       class="radio-btn"
		       name="rating"
		       value="2"
		       data-key="rating">
	      </label>

	      <label class="b-1 b-r-small b-gray-ce flex flex-column items-center pointer radio-label">
		3 stars
		<input type="radio"
		       class="radio-btn"
		       name="rating"
		       value="3"
		       data-key="rating">
	      </label>

	      <label class="b-1 b-r-small b-gray-ce flex flex-column items-center pointer radio-label">
		4 stars
		<input type="radio"
		       class="radio-btn"
		       name="rating"
		       value="4"
		       data-key="rating">
	      </label>

	      <label class="b-1 b-r-small b-gray-ce flex flex-column items-center pointer radio-label">
		5 stars
		<input type="radio"
		       class="radio-btn"
		       name="rating"
		       value="5"
		       data-key="rating"
		       checked>
	      </label>
	    </div>

	    <label for="comments" class="f-4">Review</label>
	    <div class="pb-large">
	      <textarea id="comments"
			class="w--100 b-1 b-r-small b-gray-ce db f-3  lh-15 form-input form-textarea"
			aria-required="true"
			data-key="comments"></textarea>
	    </div>

	    <button id="submit-review"
		    type="button"
		    class="ml-auto b-1 b-r5 b-transparent dib white pointer f-5 uppercase btn btn-form">Submit</button>
	  </form>
	</section>

	<section id="reviews-container" class="col-span-3-5-xl">
	  <ul id="reviews-list"></ul>
	</section>
      </div>
    </main>

    <footer class="p-medium--v bg-dark">
      <p class="gutter uppercase white f-1 center ls-1 lh-2">
	Copyright (c) 2018 <a href="/" class="no-underline orange fw-7">Restaurant Reviews</a> All Rights Reserved
      </p>
    </footer>

    <script src="restaurant.js"></script>
    <style>body { visibility: visible; }</style>
  </body>
</html>